@use "tailwindcss" as *;

.main-container {
    display: flex;
    flex-direction: row;
    .main-body {
        padding: 1rem;
        padding-left: 8rem;
        padding-top: 3rem;
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
        height: 98vh;
        min-height: 98vh;
        max-height: 98vh;
        overflow: hidden;
    }
}
