# App Configuration
PORT=3002
NODE_ENV=development

# MongoDB Configuration
# For local development:
# DATABASE_HOST=localhost
# DATABASE_PORT=27017
# DATABASE_USERNAME=admin
# DATABASE_PASSWORD=password123
# For Docker:
DATABASE_HOST=mongodb
DATABASE_PORT=27017
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password123
DATABASE_NAME=postit
